*{
	padding: 0px;
	margin: 0px;
    
}
.container h1 {
	font-family: 'Raleway';
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 60px;
}
hr {
	border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.container {
    
    padding: 20px; /* Add padding for space */
    margin-bottom: 30px; /* Add margin for space */
  }

.thumbnail {
	margin-bottom:6px;
  display:flex;
  flex-wrap: wrap;
  bottom: 10%;
}

.modal-dialog{
	margin-top: 150px;
	width: 400px;
	margin-left: 3.5%;
}
@media only screen and (min-width:992px) {
	.modal-dialog{
		margin-top: 150px;
		width: 450px;
		margin-left: 38%;
	}
	.footer-icons{
		margin-left: -13%;
	}
	
}
 


    
.blur {
    transform: scale(0.9);
    opacity: 0.6;
  	-webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}


/* footer */
.footer-wrapper {
	/* margin-left: -15px; */
    background: #000;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 116.5%;
    margin-left: -13%;
    /*  */
    position:fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
    .footer-wrapper {
         margin-top: 20px; /*Adjust this value based on your design preference */
      }
   




.footer-icons a {
    text-decoration: none;
    color: white;
    /* font-size: 20px; */
    margin: 0 15px;
	
    
}

.footer-icons a:hover {
    color: rgba(255, 255, 255, 0.6);
}
.footer-icons img {
    width: 20px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
           /* footer */

   
