*{
    margin: 0;
    padding: 0;
   
    color: #000000;
    font-family:sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
body{
    overflow-x: hidden;
   
   
}

                   /* navbar */
nav{
    height: 6rem;
    width: 100vw;
    background-color: #ffffff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display:flex;
    position:fixed;
    z-index: 10;
    margin-bottom: 20px;
   
   
}
/*Styling logo*/

.logo img {
    margin-top: -40%;
    margin-left: -50px;
    height: 200%;
    width: 200%;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content:right;
    align-items: center;
    text-transform: uppercase;
    gap: 5%;
    font-size: larger;
    margin-right: 4.5%;
}


/*Styling Buttons*/


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo img {
        margin-top: -30%;
        margin-left: -40px;
        height: 200%;
        width: 150%;
    }
    
    .categories img {
        width: 100%; /* Adjust the width as needed */
        height: 100%;
        
    }  


    .nav-links{
        display: flex;
        list-style: none; 
        width: 88vw;
        padding: 0 0.7vw;
        justify-content:right;
        align-items: center;
        text-transform: uppercase;
        gap: 5%;
        font-size: larger;
        margin-right: 2%;
    }

}




.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cee4e100;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    
}




.categories {
    margin-bottom: 6px; /* Adjust the value as needed to create the desired space */
    margin-top: 6px;
    
    position: relative;
    margin: 10px; 
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    transition: transform 0.3s;
   
}
.category-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #0741ff; /* Text color */
    font-weight: bold;
    text-align: center;
    opacity: 0; /* Hidden by default */
    transition: opacity .3s;
}


.categories:hover .category-text {
    opacity: 10; /* Show text on hover */
}




.categories img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    
}
                   /* navbar */

        /* About Me Section Styles */
.about-me-section {
    width: 80%;
    margin: auto;
    padding: 40px;
    background-color: #d9f8f3a3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px; /* Adjust this value based on your design preference */
    margin-bottom: 70px;
}

.profile-image {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-me-content {
    text-align: center;
}

h1 {
    color: #333;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 1.5rem;
}

p {
    color: #666;
    line-height: 1.6;
    font-weight: 350;
} 


.home{
    display: flex;

}


        /* About Me Section Styles */

           /* footer */
.footer-wrapper {
    background: #000;
    font-family: 'Raleway', sans-serif;
    color: white;
    width: 100%;
    /*  */
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    .footer-wrapper {
        margin-top: 20px; /* Adjust this value based on your design preference */
      }
   

}

.footer-icons a {
    text-decoration: none;
    color: white;
    /* font-size: 20px; */
    margin: 0 15px;
    
}

.footer-icons a:hover {
    color: rgba(255, 255, 255, 0.6);
}
.footer-icons img {
    width: 20px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
           /* footer */



           /* button */
           @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
           * {
             padding: 0;
             margin: 0;
             box-sizing: border-box;
           }
           .container {
             display: flex;
             align-items: center;
             justify-content: center;
             /* min-height: 100vh; */
           }
           button {
             padding: 5px 10px;
             font-size: 1.5rem;
             overflow: hidden;
             position:relative;
             z-index: 1;
             background-color: transparent;
             border: 1px solid black;
             outline: none;
             font-family: "Montserrat";
             font-weight: 400;
           }
           @keyframes button_animation {
             0% {
               opacity: 0;
               transform: translate(-50%, -50%) scale(0);
             }
             30% {
               opacity: 1;
             }
             80% {
               transform: translate(-50%, -50%) scale(0.8);
             }
             100% {
               opacity: 0;
               transform: translate(-50%, -50%) scale(1);
             }
           }
           